@keyframes reveal {
  0% {
    right: -25%;
  }
  100% {
    right: 0%;
  }
}

.wishContainer {
  height: calc(100% - 75px);
  width: 25%;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: var(--light);
  z-index: 11;
  animation: 0.5s reveal;
  padding: 1vw;
  border-radius: 10px 0px 0px 10px;
  overflow: auto;
}

.header {
  height: 10%;
  font-size: 300%;
  font-weight: bold;
  text-align: center;
  color: var(--orange);
}

.wishItems {
  height: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: 1s spin infinite linear;
  color: #ccc;
  margin: auto;
  font-size: 5vw;
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
  @keyframes reveal {
    0% {
      right: -75%;
    }
    100% {
      right: 0%;
    }
  }

  .wishContainer {
    height: calc(100% - 60px);
    width: 75%;
    padding: 3vw;
  }

  .header {
    font-size: 250%;
  }
}
